<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_repertory">
    Launch demo modal
</button>

<div class="modal" id="add_repertory" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un répertoire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                {# The Folder.name field #}
                <div class="form-horizontal">
                    <div class="form-group row">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-4'}}) }}
                        <div class="col-sm-1">{{ form_widget(form.name) }}</div>
                        <div class="form_errors">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>


                    {# The Prototype to use for generating items of the Folder.documents collection #}
                    <div id="filesProto" class="form-group" data-prototype="{{ form_widget(form.documents.vars.prototype)|e }}"></div>

                    {# An empty (fro now) div which will later hold the generated document fields #}
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-xs-12" id="filesBox">
                            </div>
                        </div>
                    </div>
                </div>

                {# Submit part #}
                <div class="form-group modal-footer" style="margin-top: 30px; padding-top: 30px">
                    <div class="form_cancel">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                    <div class="form_submit">
                        <button type="submit" class="btn btn-primary btn-warning btn-block">Ajouter repertoire</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script>
        // Keep count of how many elements have been added
        let fileCount = '{{ form.documents|length }}';
        let removeButton = "<button type='button' class='btn btn-danger btn-xs' onclick='removeFile($(this));'>X<i class='fa fa-times' aria-hidden='true'></i></button>";

        function removeFile(ob)
        {
            ob.parent().parent().remove();
        }

        function createAddFile(fileCount)
        {
            // grab the prototype template
            let newWidget = $("#filesProto").attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            newWidget = newWidget.replace(/__name__/g, fileCount);

            newWidget = "<div style='display:none'>" + newWidget + "</div>";

            let hideStuff = "";
            hideStuff += "<div class='col' id='jsRemove" + fileCount + "' style='display: none;'>";
            hideStuff += removeButton;
            hideStuff += "</div>";

            hideStuff += "<div class='col' id='jsPreview" + fileCount + "'>";
            hideStuff += "</div>";

            hideStuff += "<div class='col' style='padding-top: 30px'>";
            hideStuff += "<button type='button' id='jsBtnUpload" + fileCount + "' class='btn btn-warning'>";
            hideStuff += "<i class='fa fa-plus'></i> Ajouter Document";
            hideStuff += "</button>";
            hideStuff += "</div>";
            $("#filesBox").append("<div class='row' style='padding-top: 20px'>" + hideStuff + newWidget + "</div>");
            $("#col-btnUpload").css("padding-top", "25px");
            //$("#filesBox").append("<div class='row'>" + "<div class='col-md-1'>" + removeButton + "</div><div class='col-md-10'>" + newWidget + "</div></div>");
            $("#jsBtnUpload" + fileCount).on('click', function(e){
                $('#playground_cookiejarbundle_folder_documents_' + fileCount + '_file').trigger('click');
            });

            // Once the file is added
            $('#playground_cookiejarbundle_folder_documents_' + fileCount + '_file').on('change', function() {
                // Show its name
                let fileName = $(this).prop('files')[0].name;
                $("#jsPreview" + fileCount).append(fileName);
                // Hide the add file button
                $("#jsBtnUpload" + fileCount).hide();
                // Show the remove file button
                $("#jsRemove" + fileCount).show();

                // Create another instance of add file button and company
                createAddFile(parseInt(fileCount)+1);
            });
        }

        $(document).ready(function(){
            createAddFile(fileCount);
            fileCount++;
        });
    </script>
{% endblock %}