{% extends 'index.html.twig' %}

{% block body %}

{{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_label(form.prenomClient, 'Prenom', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_widget(form.prenomClient, {'attr': {'class': 'form-control'}}) }}
                                <div class="form-error">
                                    {{ form_errors(form.prenomClient) }}
                                </div>
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                {{ form_label(form.nomClient, 'Nom', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_widget(form.nomClient, {'attr': {'class': 'form-control'}}) }}
                                <div class="form-error">
                                    {{ form_errors(form.nomClient) }}
                                </div>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                                {{ form_label(form.login, 'Votre login', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_widget(form.login, {'attr': {'class': 'form-control'}}) }}
                                <div class="form-error">
                                    {{ form_errors(form.login) }}
                                </div>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            {{ form_label(form.adresseMailPerso, 'Votre adresse mail personnel', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.adresseMailPerso, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.adresseMailPerso) }}
                            </div>
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">

                            {{ form_label(form.numTel, 'Votre numéro de téléphone', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.numTel, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.numTel) }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form_label(form.adresseClient, 'Votre adresse', {'label_attr': {'class': 'foo'}}) }}
                                {{ form_widget(form.adresseClient, {'attr': {'class': 'form-control'}}) }}
                                <div class="form-error">
                                    {{ form_errors(form.adresseClient) }}
                                </div>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, 'Votre mot de passe', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div> <!-- form-group end.// -->

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, 'Votre retaper votre mot de passe', {'label_attr': {'class': 'foo'}}) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div> <!-- form-group end.// -->
                        {{ form_row(form._token) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register </button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Vous avez déjà un compte ? <a href="">Log In</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->

{{ form_end(form) }}


{% endblock %}